.pageContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.pageContent {
  padding-bottom: 7.5rem;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/landing_page_image.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.bodyContent {
  max-width: 75rem;
  height: 65%;
  max-height: 37.3rem;
  top: 40%;
  transform: translate(0, -50%);
  position: relative;
  margin: 0 auto;
  display: flex;
  gap: 1.81rem;
  position: relative;
  z-index: 10;
}

.navbar {
  background-color: black;
  z-index: 20;
}
.left {
  width: 100%;
  position: relative;
}
.tochka {
  font-size: 2.25rem;
  font-family: var(--montserrat-font);
  font-weight: 500;
  line-height: normal;
  color: var(--red-color);
  letter-spacing: 0.05625rem;
  margin-top: 1rem;
}

.haze {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  height: 100%;
}

.clipContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.videoText {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.video-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  clip-path: url("#clip-00");
  -webkit-clip-path: url("#clip-00");
}

@media screen and (max-width: 1400px) {
  .tochka {
    margin-top: 0;
  }
  .clipContainer {
    width: 100%;
    /* max-width: 1100px; */
  }
  /* .video-container {
    width: 90%;
  } */
}
