html {
  background: #fff;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: 400;
  src: url("ofont.ru_Bebas\ Neue.ttf") format("truetype");
}

:root {
  --light-brown-color: #f2e1c2;
  --red-color: #f23207;
  --dark-brown-color: #262526;
  --bebas-font: "Bebas", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
}
